<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Test Suite">
	<test thread-count="5" name="Test">

		<classes>
			 <!-- <class name="test.Intranet.IntranetLogin_Test"/> -->
			<class name="Tests.RunSuite">

			</class>
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->

